.root {
	-main-color: #00455E;
	-secondary-color: #33ff99;
	-main-font-color: white;
	-secondary-font-color: black;
	-component-background-color: #e8fdf4;
	-fx-background-color: linear-gradient(to top right, -main-color, #197B84);
	
}

.data0.chart-pie { -fx-pie-color: turquoise; }
.data1.chart-pie { -fx-pie-color: aquamarine; }
.data2.chart-pie { -fx-pie-color: cornflowerblue; }
.data3.chart-pie { -fx-pie-color: blue; }
.data4.chart-pie { -fx-pie-color: cadetblue; }
.data5.chart-pie { -fx-pie-color: navy; }
.data6.chart-pie { -fx-pie-color: deepskyblue; }
.data7.chart-pie { -fx-pie-color: cyan; }
.data8.chart-pie { -fx-pie-color: steelblue; }
.data9.chart-pie { -fx-pie-color: teal; }
.data10.chart-pie { -fx-pie-color: royalblue; }
.data11.chart-pie { -fx-pie-color: dodgerblue; }


.label {
	-fx-text-fill: -main-font-color;
}

.progress-bar .bar {
    -fx-background-color: -main-color;
}

.labelWarning {
   -fx-text-fill: orange;
   -fx-font-weight: bold;
   -fx-font-style: italic; 
}

.labelError {
   -fx-text-fill: red;
   -fx-font-weight: bold;
   -fx-font-style: italic; 
}

.labelBold {
   -fx-font-weight: bold;
}

.check-box {
	-fx-text-fill: -main-font-color;
}

.button {
	-fx-text-fill: -secondary-font-color;
	-fx-background-radius: 20px;
	-fx-background-color: -secondary-color;
}

.button:hover {
	-fx-text-fill: -secondary-color;
	-fx-background-radius: 20px;
	-fx-background-color: -main-font-color;
}

.button:pressed {
	-fx-text-fill: -main-font-color;
	-fx-background-radius: 20px;
	-fx-background-color: -main-color;
}

.text-field {
	-fx-text-fill: -secondary-font-color;
	-fx-background-color: -secondary-color;
}

.text-area {
	-fx-text-fill: -secondary-font-color;
}

.text-area .content {
	-fx-background-color: -secondary-color;
}

.combo-box {
	-fx-text-fill: -secondary-font-color;
	-fx-background-color: -secondary-color;
}

.combo-box .cell:selected {
	-fx-text-fill: -secondary-font-color;
}

.combo-box-popup .list-view .list-cell:hover {
	-fx-background-color: -secondary-color;
	-fx-text-fill: -secondary-font-color;
}

.combo-box-popup .list-view .list-cell:focused {
	-fx-background-color: -secondary-color;
	-fx-text-fill: -secondary-font-color;
}

.radio-button {
	-fx-text-fill: -main-font-color;
}

.date-cell.selected {
	-fx-background-color: -secondary-color;
	-fx-text-fill: -secondary-font-color;
}

.date-cell:hover {
	-fx-background-color: -secondary-color;
	-fx-text-fill: -secondary-font-color;
}

.date-picker-popup>.month-year-pane {
	-fx-background-color: -secondary-color;
	-fx-text-fill: -secondary-font-color;
}

.date-picker-popup .label {
	-fx-background-color: -secondary-color;
	-fx-text-fill: -secondary-font-color;
}

.date-picker-popup>.month-year-pane>.secondary-label {
	-fx-text-fill: -secondary-font-color;
}

.date-picker>.text-field {
	-fx-background-color: -secondary-color;
}

.date-picker {
	-fx-background-color: -secondary-color;
}

.date-pickerReadOnly {
	-fx-opacity: 1;
}

.date-picker>.arrow-button {
	-fx-background-color: -secondary-color;
}

.check-box>.box {
	-fx-background-color: -secondary-color;
	-fx-background-radius: 20px;
}

.table-view .column-header {
	-fx-background-color: -secondary-color;
}

.table-view {
	-fx-background-color: -component-background-color;
}

.table-view .filler {
	-fx-background-color: -secondary-color;
}

.table-view .column-header .label {
	-fx-text-fill: -secondary-font-color;
	-fx-background-color: -secondary-color;
}

.table-view:focused .table-row-cell:filled:focused:selected {
	-fx-background-color: -secondary-color;
}

.table-view:focused .table-row-cell:filled:focused:selected  .text {
	-fx-fill: -secondary-font-color;
}

.tab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
 /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /*overridden as 5 2 0 0*/
}

.tab-pane>.tab-header-area>.headers-region>.tab {
	-fx-background-color: -secondary-color;
	-fx-text-fill: -secondary-font-color;
}

.tab-header-background {
	-fx-background-color: transparent;
	-fx-text-fill: -secondary-font-color;
}

.tab-pane>.tab-content-area {
	-fx-border-width: 3;
	-fx-border-color: -secondary-color;
}

.tab-label {
	-fx-background-color: -secondary-color;
	-fx-text-fill: -secondary-font-color;
}

.tab:selected .tab-label {
    -fx-font-weight: bold;
} 

.menu-bar {
	-fx-background-color: linear-gradient(to top right, -main-color, #197B84);
	-fx-text-fill: -main-font-color;
}

.menu {
	-fx-background-color: transparent;
}

.menu>.label>.text {
	-fx-fill: -main-font-color;
}

.menu:hover {
	-fx-background-color: -secondary-color;
}

.menu:showing {
	-fx-background-color: -secondary-color;
}

.menu:hover>.label>.text {
	-fx-fill: -secondary-font-color;
}

.menu:showing>.label>.text {
	-fx-fill: -secondary-font-color;
}

.context-menu {
	-fx-background-color: linear-gradient(to top right, -main-color, #197B84);
	-fx-text-fill: -main-font-color;
}

.menu-item:hover {
	-fx-background-color: -secondary-color;
}

.menu-item:focused {
	-fx-background-color: -secondary-color;
}

.menu-item:hover .label {
	-fx-background-color: -secondary-color;
	-fx-text-fill: -secondary-font-color;
}

.menu-item:focused .label {
	-fx-background-color: -secondary-color;
	-fx-text-fill: -secondary-font-color;
}

.chart-legend {
	-fx-background-color: transparent;
}

.chart-pie-label {
    -fx-fill: -main-font-color;
} 

.axis {
	-fx-tick-label-fill: -main-font-color;
}

.list-view .cell:selected {
	-fx-text-fill: -secondary-font-color;
}

.list-view .list-cell:hover {
	-fx-background-color: -secondary-color;
	-fx-text-fill: -secondary-font-color;
}

.list-view .list-cell:focused {
	-fx-background-color: -secondary-color;
	-fx-text-fill: -secondary-font-color;
}

.dialog-pane:header .header-panel {
  -fx-background-color: transparent;
}

.dialog-pane:header .header-panel .label{
  -fx-text-fill:-main-font-color;
}