$primaryLightColor: #59C5B9 !default;
$primaryColor: #2B9F9C !default;
$primaryDarkColor: #1F8288 !default;
$primaryDarkerColor: #156472 !default;
$primaryTextColor: #f8fafc !default;


@import '../sass/theme/_theme_light';