$primaryLightColor: #7FE2CE !default;
$primaryColor: #59C5B9 !default;
$primaryDarkColor: #2B9F9C !default;
$primaryDarkerColor: #1F8288 !default;
$primaryTextColor: #f8fafc !default;

@import '../sass/theme/_theme_dark';