@charset "ISO-8859-1";


.ui-panel { 
 	margin: 20px; 
} 


.ui-column-filter{

    /*overrides default value*/
    width : 80px !important;
}

.ui-sortable-column{

    /*overrides default value*/
    width : 80px !important;
}

.ui-panelgrid td {
   padding: 10px !important;
 }

/* .TradistaOneMenu.ui-selectonemenu .ui-selectonemenu-label { */
/* font-size: 12px; */
/* height: 10px !important; */
/* } */

/* .TradistaOneMenu.ui-selectonemenu { */
/* font-size: 12px; */
/* height: 30px !important; */
/* } */

/* .TradistaOneMenu.ui-selectonemenu .ui-selectonemenu-trigger { */
/* height: 30px !important; */
/* } */

/* .TradistaInput input */
/* { */
/*     font-size: 12px; */
/* height: 30px !important; */
/* width: 100px */
/* } */

/* .ui-inputfield */
/* { */
/*     font-size: 12px; */
/* height: 30px !important; */
/* width: 100px */
/* } */

.foo td {
    vertical-align: top;
}


.foo.ui-panelgrid>*>tr,
.foo.ui-panelgrid  .ui-panelgrid-cell {
    border: none;
    background-color: #197B84;
}

body .ui-panel{
    border: none;
    background: #197B84;
}

.nested.ui-panelgrid>*>tr,
.nested.ui-panelgrid  .ui-panelgrid-cell {
    border: none;
    background-color: white;
}

.ui-widget-content .ui-panelgrid-even  {
    height: 10px !important;
}

 .tradista { 

 font-weight: bold; 
 font-size: 25px; 
 } 
 
.labelWarning th {
   -font-weight: bold;
   -font-style: italic; 
   -left: 10px;
}

.foo body {
    background-color: #00455E;
}
